# Gemini API Key
GOOGLE_GEMINI_AI_API_KEY=''
NAME=''
PROJECT_NAME=''
PROJECT_NUMBER=''
PROJECT_ID=''

# Google Search API Key
GOOGLE_SEARCH_API_KEY=''
GOOGLE_CSE_ID=''

# Serpapi API Key
SERPAPI_API_KEY=''


# ollama url
OLLAMA_BASE_URL='http://localhost:11434'


# postgresql connection string
POSTGRES_HOST=''
POSTGRES_PORT=''
POSTGRES_DATABASE=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''


